body {
  background: #f0f0f0;
  font-family: sans-serif;
  color: #939393;
}

.container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box; /* Use border box for inclusive box-model measurements */
  max-width: 750px; /* Set the max width for responsiveness */
  margin: 50px auto; /* Center it */
}

.container .left,
.container .right  {
  width: 50%; /* set each half to 50% of total parent width */
  margin: 0 10px;
}

/* Left Start */
.left {
  display: flex; /* Set the parent to display:flex */
  height:100%;
  width:100%;
}
.left img {
  transform: translateY(10%);
}
/* Left End */

/* Right Start */
/* Top Start */

.right {
  flex-direction: column; /* IMPORTANT - Make a point of commenting this in and out and see the difference before doing anything : literally before doing anything to style it!! */
  flex-wrap: wrap; /* Set to wrap so inline items move to next line */
}

.right .top {
  flex: auto;
  text-align: center;
  background: #ffffff;
  border: 1px solid #c6c6c6;
  border-radius: 2px;
  padding: 25px;
}

.right .top .logo {
  margin-top: 10px;
  margin-bottom:0;
  width:180px;
}

.right .top h3 {
  margin-top: 0;
  color: #939393;
  font-size: 16px;
}

.right .top h3,
.right .top .h-rule {
  text-align: center;
}

.top h4 {
  width:100%;
  text-align:center;
  border-bottom: 1px solid #939393;
  line-height:0.01em;
  margin:25px 0 20px;
  font-size: 16px;
}

.top h4 span {
  background:#fff;
  padding:0 20px;
}

.right .top button {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  background: #27a8cb;
  color: white;
}
/* Form Start */
form {
  width:100%;
  flex-direction: column; /* Set to column so it aligns the boxes vertically */
  border: #939393;
}

form input {
  box-sizing: border-box; /* Keep the inputs fitted to the form */
  width: 100%;
  padding: 10px;
  font-size: 12px;
  margin: 10px 0;
}

.form {
  border: #939393;
}

form input[type="submit"] { /* Explain how you can target input types in this manner */
  background: #27a8cb;
  color: white;
}

.T-and-C {
  text-align: center;
  padding-top: 15px;
}

.T-and-C a {
  text-decoration: none;
  color:inherit;
}

/* Form End */

/* Top End */

/* Middle Start */
.middle {
  text-align: center;
  background: #ffffff;
  margin-top: 10px;
  border: 1px solid #c6c6c6;
  border-radius: 2px;
}

.middle p {
  padding: 15px;
}

.middle a {
  text-decoration: none;
  color:#27a8cb;
}
/* Middle End */

/* Bottom Start */
.bottom {
  text-align: center;
}

.bottom p {
  margin-bottom: 0;
  color: #585858
}

.bottom .apps {
  margin-top: 0;
  display: flex;
  justify-content: center;
}
/* Bottom END */


/* /Right */

.footer {
  display: flex;
  align-items: stretch; /* Useful when filling a div across the screen */
}

.footer a {
  text-decoration: none;
  color: #3b3c55;
}

.footer .left {
  flex-grow:1; /* Set the minumum flex size */
}

.footer ul {
  display: flex;
  list-style: none;
  padding: 0;
  align-items: center;
}

.footer ul li{
  padding: 8px;
  font-weight: bold;
}
